@import "./../assets/styles/globals.css";

html {
  height: 100%;
  font-size: 62.5%;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
	font-family: var(--font-text);
	font-size: 1.6rem;
	font-weight: 400;
  line-height: 1.5;
	color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
  background: #F50057;
  color: white;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul, ol, li {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
}

figure {
  margin: 0;
}

pre {
  margin: 0;
}

.main-wrapper {
  /* margin-top: 60px; */
}

.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;

  &.full {
    width: 100%;
  }

  &.page {
    width: var(--page-width);
    padding: 0;
  }

  /* rename to smallest */
  &.inner {
    width: var(--article-width);
    padding: 0;
  }

  &.large {
    width: var(--section-large-width);
    padding: 0;
  }
}

a {
	color: inherit;
	text-decoration: none;
}

.bg-black {
  background: #000;
}

.bg-black-1 {
  background: #1a1a1a;
}

.status-bar {
  height: 55px;
  color: black;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'NimbusSansNovusD';
  background: white;
  box-shadow: 2px 4px 10px rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  >.btn-menu {
    margin-right: 20px;
    height: 22px;
    cursor: pointer;

    >.icon {
      fill: black;
      width: 21px;
      height: 21px;
    }
  }

  >.reading {
    font-size: 1.7rem;
    font-weight: 500;
    color: #333;
    margin-left: 220px;
  }
}

.header-container {
  /* position: absolute; */
  left: 0;
  top: 0;
  padding: 0 30px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  z-index: 9999;
  background: black;
  color: white;

  >.btn-menu {
    width: 24px;
    height: 24px;
    margin-right: 20px;

    >.icon {
      width: 100%;
      height: 100%;
      fill: white;
    }
  }

  >.branding {
    position: relative;
    display: flex;
    align-items: center;

    >a {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    >.motto {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1;
    }

    >.logo {
      font-size: 3.6rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -2px;
      margin-right: 20px;
      line-height: 1;
      color: white;
    }
  }

  >.btn-search {
    margin-left: auto;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}

.footer-container {
  background: black;
  /* padding-top: 20px; */
  padding-bottom: 120px;
  color: white;

  >.footer {
    display: flex;
    flex-direction: column;

    >.nav {
      display: flex;
      margin-bottom: 22px;
      font-family: 'Jost';
      margin-bottom: 40px;

      >a {
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 50px;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }

    >.colophon {
      display: flex;
      align-items: center;

      >.logo {
        font-size: 4.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -2px;
        margin-right: 20px;
      }

      >.content {
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 1.3;
        color: rgba(255,255,255,0.5);

        >a {
          font-weight: 600;
        }
      }
    }
  }
}



