@import "./../assets/styles/globals.css";

.post-wrapper {
  &.preview {
    >.post-cover {
      height: calc(100vh - var(--header-height)) !important;
      background: #faebd7 !important;
    }

    >.post-body {
      display: none;
    } 

    >.post-feedback {
      display: none;
    }

    >.related-post-bg {
      display: none;
    }
  } 
}


.post-cover {
  height: calc(100vh - var(--header-height));
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,244,232,0.9756945014333859) 18%, rgba(250,235,215,1) 100%);
  /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,244,232,0.97) 1%, rgba(250,235,215,1) 100%); */

  >.post-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    color: black;
    position: relative;

    > .post-titles {
      position: relative;

      > .title {
        /* font-family: var(--font-headline); */
        font-family: var(--font-text);
        display: flex;
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
      }

      > .subtitle {
        margin-top: 20px;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        font-family: var(--font-text);
      }

      >.post-link {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        z-index: 9999;
      }
    }

    >.author {
      margin-top: 20px;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    >.meta {
      display: flex;
      flex-direction: row;
      align-items: center;

      &.category {
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        opacity: 0.8;
      }

      &.published-on {
        font-size: 1.7rem;
        font-weight: 400;
      }

      >.icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        margin-right: 10px;
        overflow: hidden;

        >img {
          width: 100%;
        }
      }

      >.content {
        display: flex;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }

  >.go-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    cursor: pointer;

    >.icon {
      width: 32px;
      height: 32px;
      fill: white;
    }
  }
}

.post-body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #000;

  >.metadata {
    display: flex;
    align-items: center;
    margin-bottom: 40px;



    >.data {
      margin-left: 10px;

      >a {
        text-decoration: underline;
      }
    }
  }

  >.btn-theme {
    position: absolute;
    right: 40px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #222;

    &:before {
      display: flex;
      content: '';
      width: 10px;
      height: 10px;
      background: #222;
      border-radius: 50%;
    }
  }

  >h2 {
    font-weight: 500;
    font-size: 2.1rem;
  }

  p {
    width: var(--article-width);
    margin: 20px auto;
    font-family: var(--font-text);
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.67;

    >code {
      font-family: var(--font-code);
    }

    >strong {
      font-weight: 600;
    }

    >a {
      cursor: pointer;
      text-decoration: underline;
    }

    &.colophon {
      margin-top: 80px;
      font-style: italic;
    }
  }

  pre {
    width: var(--article-width);
    margin: 40px auto;

    >code {
      font-family: var(--font-code);
    }
  }

  >figure {
    display: flex;
    flex-direction: column;
    width: var(--article-width);
    margin: 50px auto;

    &.full {
      width: 100%;
    }

    &.large {
      width: var(--page-width);
    }

    >figcaption {
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: 1;
      font-weight: 400;
    }

    >img {
      width: 100%;
      height: auto;
    }
  }
}

.post-feedback {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(249,249,249);
  background: linear-gradient(119deg, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 40%, rgba(249,249,249,1) 100%);
  background: rgb(249,249,249);
  background: linear-gradient(119deg, rgba(249,249,249,1) 0%, rgba(237,240,242,1) 45%, rgba(249,249,249,1) 100%);

  .comments {
    display: flex;
    flex-direction: column;

    >.heading {
      display: flex;
      align-items: baseline;
      margin-bottom: 25px;

      >h2 {
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1;
      }

      >.count {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    >ul.comment-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      >li {
        border-top: 1px solid #dadce0;
      }
    }

    .btn-add {
      cursor: pointer;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 50px;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      border: 1px solid #666;
      color: #222;
    }
  }
}

.post-related {
  padding-top: 40px;
  padding-bottom: 40px;

  >.title {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 30px;
  }

  >.heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;

    >.tag {
      font-size: 1.7rem;
      margin-right: 5px;

      &:before {
        content: '#';
      }
    }
  }

}

.related-post-bg {
    background: linear-gradient(129deg,#dfe2f1,#dde3f2 14%,#dce4f3 23%,#d6e9f7 71%,#d8f0eb);
}

.clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
  line-clamp: 10; 
  -webkit-box-orient: vertical;
}
